input,
select,
textarea {
  padding: 1rem;
  border: 1px solid #0e0d0d;
  border-radius: 8px;
  margin: 0.2rem 0 0.2rem;
  background-color: transparent;
  font-size: 0.9em;
  color: #0e0d0d;
  width: 100%;
}

label {
  display: block;
  margin-top: 0.5rem;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.02em;
}

.input-wrap {
  width: 100%;
}
.input-wrap p.error-inputing {
  font-size: 0.9em;
  letter-spacing: 0.04em;
  color: #940707;
}

input.invalid {
  border: 1px solid #fa4b16;
}