.volunteer {
  background-image: url(../../img/uuu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 3rem 0;
    text-align: center;

  & h3 {
    text-align: center;
    color: #fff;
  }

  & p {
    padding: 2rem 7rem 3rem;
    font-size: 1.2em;
    line-height: 1.3;
  }
}


@media screen and (max-width: 678px) {
  .volunteer {
  & p {
    padding: 2rem 2rem 3rem;
    font-size: 1.2em;
    line-height: 1.3;
  }
  }
}