.nav_list {
    display: flex;
}

.nav_item {
    padding-left: 75px;

    &:first-child {
        padding-left: 0;
    }

    &-link {
        font-size: 26px;
        font-weight: 700;
        letter-spacing: 0.01em;
        line-height: 1em;
        color: #1A1A1A;
        cursor: pointer;
    }
}

@media screen and (max-width: 428px) {
    .nav_list {
        display: none;
    }
}