.privacy-policy {
  & h2 {
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  & p {
    margin: 7px 10px 7px 15px;
  }
  & a {
    color: #fa4d16;
  }
  & .go-back {
    margin-top: 2rem;
    color: #1a1a1a;
    cursor: pointer;
  
    & span {
      color: #fa4b16;
    }
  
    &:hover {
      color: #fa4b16;
    }
  }
}