.privacy-policy h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.privacy-policy p {
  margin: 7px 10px 7px 15px;
}
.privacy-policy a {
  color: #fa4d16;
}
.privacy-policy .go-back {
  margin-top: 2rem;
  color: #1a1a1a;
  cursor: pointer;
}
.privacy-policy .go-back span {
  color: #fa4b16;
}
.privacy-policy .go-back:hover {
  color: #fa4b16;
}