.slide {
  border-radius: 15px;
}
.slide p {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  text-transform: uppercase;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -20px;
}

.swiper-pagination-bullet-active {
  background-color: #fa4b16;
}