footer {
  margin-top: auto;
}

.footer_top {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 200;
}
.footer_top p {
  font-size: 1em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer_bottom {
  border-top: 2px solid #fa4b16;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  font-weight: 200;
}
.footer_bottom .privacy_policy {
  margin-bottom: 1rem;
  display: inline-block;
  line-height: 1.3;
  color: #000000;
  border-bottom: 1px solid transparent;
}
.footer_bottom .privacy_policy:hover {
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 442px) {
  .footer_top {
    flex-direction: column;
  }
  .footer_top .location {
    margin-bottom: 17px;
  }
}